<html>
<head>
  <title>Mon title</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container-fluid">
  <div class="d-flex flex-column align-items-center justify-content-center w-100" style="height:100vh;">
    <h1>Ajouter un livre</h1>
    <form class="d-flex flex-column card w-50" method="post" action="/chapters" >
      <div class="card-body">
        <div class="form-group">
          <label>Titre</label>
          <input name="title" class="form-control" type="text" />
        </div>
        <div class="form-group">
          <label>ISBN</label>
          <input name="isbn" class="form-control" type="number" />
        </div>
        <div class="form-group">
          <label>Auteur</label>
          <input name="auteur" class="form-control" type="string" />
        </div>
        <div class="form-group">
          <label>Nombre de chapitres</label>
          <input name="nbrOfChapter" class="form-control" type="number" />
        </div>
        <div class="form-group">
          <label>Genre</label>
          <input name="genre" class="form-control" type="string" />
        </div>
        <div class="form-group">
          <input name="active" class="form-checkbox-control" type="checkbox" id="active" />
          <label class="form-check-label" for="active">active</label>
        </div>
        <% if (locals.errors && errors && errors.length) { %>
          <ul>
            <% errors.forEach((error) => { %>
              <li><%= error %></li>
            <% }) %>
          </ul>
        <% } %>
        <div>
          <input type="submit" value="Valider" class="btn btn-primary" />
        </div>
      </div>
    </form>
    <a href="/chapters" class="btn btn-primary">Retour</a>
  </div>
</div>
</body>
</html>